.label {   

-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);    

}
 
.calendar-cell {
-fx-background-color: rgba(255,255,255,0.0);
-fx-background-radius: 15 15 15 15;
-fx-background-insets: 6 6 6 6 ;
-fx-text-fill: rgba(0,0,0,0.7);
-fx-font: 16pt Arial;
}